* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
  position: sticky;
  top: 0;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 3rem;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h2 {
    font-size: 2rem;
  }
}
.comentarios {
  padding: 40px;
  text-align: center;
}

.coment-box {
  margin-bottom: 20px;
}

.coment-box input {
  padding: 10px;
  width: 60%;
  border-radius: 8px;
  border: none;
}

#listaComentarios {
  list-style: none;
  max-width: 500px;
  margin: auto;
}

#listaComentarios li {
  background: #1e293b;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}